<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Hello Mohan <%=12+2%> </h1>
    <h1>Welcome to the Express App</h1>

    <script src="/javascripts/script.js"></script>
</body>
</html>